<div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-8 text-center">
  <h1 class="text-2xl font-bold mb-4 text-gray-800">Welcome to Scheduler App</h1>
  <p class="text-gray-600 mb-6">
    Manage your social media accounts efficiently and schedule posts with ease.
    Plan ahead and make the most of your social presence.
  </p>
  <%= link_to 'Login with LinkedIn', user_linkedin_omniauth_authorize_path, class: 'bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600' %>
</div>
